.preview img {
  max-width: 20vw;
  max-height: 20vh;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.upload {
  flex: 1 1 auto;
}

.preview {
  flex: none;
}

.submit {
  flex: none;
  width: 100%;
}

canvas.sampler {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;
}